@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- `Gallery Component
----------------------------------------------------------------------------------------------------*/
.blurOnHover img:hover { transition: all ease-in-out 200ms; transform: scale(1.1); overflow: hidden; opacity: .1; filter: blur(2px); }
.gallery-image { transition: all ease-in-out 200ms;  z-index: 1; }
.transitioning { background: #312e81; filter: blur(4px); transform: scale(1.1); }
.transitioned	{ filter: blur(0px); transform: scale(1);  }

/* Sticky style change test */
.pinned {
  position: sticky;
  /* use "top" to provide threshold for hitting top of parent */
  top: -1px;
  border-radius: 0;
}

